$light-scheme-color: #E7E3DA;
$dark-scheme-color: #373737;
$text-color: #FFFFFF;
$text-color-black: #212424;

$desktop-width: 1363px;
$tablet-width: 960px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;